body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
}
a {
  color: $text-dark;
  text-decoration: none;
  padding: 10px;
  @extend %transAnimation;
  &:hover {
    text-decoration: none;
    background-color: $dark2;
    color: $white;
  }
}
input {
  border-radius: 0px;
  border: 1px solid $light2;
  color: $text-light;
  background: $light;
  width: 100%;
  padding: 10px;
  @extend %transAnimation;
  &:focus-visible {
    border: 1px solid $primary-color;

    outline: 0 !important;
    @extend %boxShadow-red;
  }
  &[type="number"] {
    text-align: center;
  }
}
select {
  border-radius: 0px;
  border: 1px solid $light2;
  color: $text-light;
  background: $light;
  width: 100%;
  padding: 10px;
  @extend %transAnimation;
  &:focus-visible {
    border: 1px solid $primary-color;

    outline: 0 !important;
    @extend %boxShadow-red;
  }
}

.btn {
  border-radius: 0;
  &-primary {
    background-color: $primary-color !important;
    border: 1px solid $primary-color !important;
    color: $white !important;
    @extend %transAnimation;

    &:focus {
      @extend %boxShadow-red;
    }
    &:focus-visible {
      border: 1px solid $primary-color !important;
      outline: 0 !important;

      @extend %boxShadow-red;
    }
  }
}
.c-pointer {
  &:hover {
    cursor: pointer;
  }
}
.list-icon {
  background-color: $light;
  padding: 7px;
  line-height: 0;
  font-size: 20px;
  @extend %transAnimation;
  &:hover {
    @extend %boxShadow-red;
    cursor: pointer;
  }
}
.content {
  min-height: calc(100vh - 326px);
}

.bi {
  &.bi-x-lg {
    font-size: 20px;
  }
  &.bi-person {
    font-size: 20px;
  }
  &.bi-cart {
    font-size: 20px;
  }
  &.bi-list {
    font-size: 20px;
  }
  font-size: 15px;
  &:hover {
    cursor: pointer;
  }
}
.lister {
}
@media only screen and (max-width: 991px) {
  .lister {
    margin-top: 10px;
  }
}
