.price {
  font-size: 16px;
  font-weight: 600;
}
.box {
  min-height: 400px;
  @extend %transAnimation;
  overflow: hidden;
  position: relative;
  &:hover {
    @extend %boxShadow-red;
    border-color: $primary-color !important;
  }

  .bi {
    font-size: 15px;
    @extend %transAnimation;

    &:hover {
      color: $primary-color;
    }
  }
  .img {
    z-index: 99999;
  }

  .info {
    @extend %transAnimation;
  }
  .cla {
    position: absolute;
    top: 0;
    width: 100%;
    left: 1rem;
    opacity: 0;
    @extend %transAnimation;
  }
  &:hover {
    @extend %transAnimation;

    .info {
      transform: translateY(200px);
    }
    .cla {
      top: 65%;
      opacity: 1;
    }
    @media only screen and (max-width: 991px) {
      .cla {
        top: 70%;
        opacity: 1;
      }
    }
  }
}
